
//COLOR VAR 

$color-carmine: #98092F;
$color-midnight:#16233F;
$color-white: #FFFFFF;


//FONT VAR

$ff-inter:"Inter","Arial","sans-serif";
$ff-montserrat: "Montserrat","Arial","sans-serif";

//MEDIA VAR

$vp-tables:1439px;
$vp-mobile:767px;